* {
  margin: 0;
  padding: 0;
  font-family: 'Sriracha', sans-serif;
  color: #e3e2df;
}
body {
  background-color: #121212;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #5d001e;
}
.navbar > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  text-align: center;
}
.navbar-text {
  text-decoration: none;
  padding: 1em;
}
.container {
  visibility: hidden;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}
.container > div {
  background-color: lightcoral;
  padding: 1em;
}
.container > div:nth-child(odd) {
  background-color: #9a1750;
}
.App-logo {
  opacity: 0;
  height: 40vmin;
  pointer-events: none;
  position: relative;
  left: -50px;
}
.text-title {
  opacity: 0;
}
.text-second {
  opacity: 0;
  position: relative;
  right: 60px;
}
.circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #e3afbc;
  margin: 50px;
  cursor: pointer;
}
.circle.red {
  background-color: #fd5151;
}
.circle.black {
  background-color: #121212;
}